.remirror-editor {
  height: 100%;
  position: relative;
}

.remirror-editor .mention {
  background: #d26a6366;
  padding: 2px 4px;
  border-radius: 4px;
}

.remirror-editor .suggestions {
  border: 1px solid darkgray;
  border-radius: 4px;
}
.remirror-editor .suggestion {
  padding: 2px 8px;
}
.remirror-editor .highlighted {
  background: #7dd26333;
}

.remirror-editor .hovered {
  background: #d8cd2d22;
}

.remirror-editor .remirror-suggest-atom {
  background-color: royalblue;
  color: burlywood;
}

.remirror-editor img {
  display: block;
}

.remirror-tooltip.remirror-theme {
  background-color: #212121;
}

.remirror-theme .remirror-floating-popover {
  background-color: #212121;
}
